@tailwind base;

h1 {
  @apply mt-8 text-2xl;
}

h2 {
  @apply mt-6 text-xl;
}

h3 {
  @apply mt-4 text-lg;
}

code {
  font-family: monospace
}


@tailwind components;
@tailwind utilities;

:root {
  --orange: #e9552f;
  --orange-35: #e9552f35;
  --orange-dark: #ca4a0a;
  --orange-darkest: #973403;
  --black-old: #16080e;
  --black: #11060b;
  --hover-scale-transform: scale(1.05);
  --hover-scale-transition: all 200ms ease;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #5c5357;
}

body::-webkit-scrollbar-thumb {
  background: var(--orange-dark);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--orange-darkest);
  cursor: pointer;
}

.orange-background {
  background-color: var(--orange);
}

.orange-background-secondary {
  background-color: var(--orange-35);
}

.eurostile {
  font-family: "eurostile", sans-serif;
}

.black-background {
  background-color: var(--black);
}

.black-text {
  color: var(--black)
}

.orange-text {
  color: var(--orange)
}

.height-calc {
  min-height: calc(100vh - 264px);
}

.orange-border {
  border-color: var(--orange);
}

.orange-t-border {
  border-top: 1px solid var(--orange);
}

.bg-arrow::before {
  background-color: var(--orange);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: -1;
}

.bg-arrow-lg::before {
  background-color: var(--orange);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 70.1px;
  left: 0;
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 1;
}

/* PROGRESS */

@keyframes progress {
  to {
    background-color: var(--orange);
    width: 100%;
  }
}