---
import { getCollection } from "astro:content";

import PageLayout from "../../layouts/PageLayout.astro";

import Content from "../../components/blog/Content";

const meta = {
  title: "Blog | Francisco Diaz Paccot",
  description: "Francisco Diaz Paccot | Sr. Software Engineer.",
  logoUrl: "https://i.ibb.co/HXYhwjK/blog-portrait.png",
  url: "https://franciscodiazpaccot.dev",
};

const dataPosts = await getCollection(
  "blog",
  ({ data }) => data.blogLanguage === "es",
);

const posts: any = {};
let years: number[] = [];

dataPosts.forEach((post: any) => {
  const pubDate = new Date(post.data.pubDate);
  const timestamp = pubDate.getTime();
  post.timestamp = timestamp;

  const year = pubDate.getFullYear();

  if (posts[year]) {
    posts[year].push(post);

    posts[year].sort((a: any, b: any) => b.timestamp - a.timestamp);
  } else {
    posts[year] = [post];
    years = [...new Set([...years, year])];
  }
});

years.sort((a, b) => b - a);
---

<PageLayout {meta} router="/blog">
  <section
    class="py-12 px-4 relative text-gray-100 md:px-8 md:mx-auto md:w-full md:max-w-5xl"
  >
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-3xl font-semibold tracking-tight text-gray-100 sm:text-4xl"
      >
        Blog
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-400">
        Some of my ideas, thoughts and knowledge.
      </p>
    </div>
    <Content client:load years={years} posts={posts} />
  </section>
</PageLayout>
