---
import Button from "../components/Button.astro";
import Github from "../components/icons/Github.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
import PageLayout from "../layouts/PageLayout.astro";

const meta = {
  title: "Portfolio | Francisco Diaz Paccot",
  description: "Francisco Diaz Paccot | Software Engineer.",
  logoUrl: "https://i.ibb.co/mFYW5QJ/new-logo-small.webp",
  url: "https://franciscodiazpaccot.dev",
};

const qpv = {
  id: "qpv",
  github: "https://github.com/FranciscoDiazPaccot73/que-mirar",
  link: "https://www.quepuedover.online",
  text: "¿Qué puedo ver?",
  logoUrl: "/qpv.webp",
  bg: "/projects/qpv-bg.webp",
  logoWidth: 110,
  logoHeight: 80,
  stack: ["NextJs", "NodeJs", "SASS", "TypeScript"],
  description: `¿Que Puedo Ver? it's a website that recommends tv series and movies to watch`,
  lighthouse: {
    performance: 99,
    accessibility: 97,
    bestPracticies: 92,
    seo: 100,
  },
};

const blabi = {
  id: "blabi",
  link: "https://blabi.com.ar/",
  text: "Blabi Websites",
  logoUrl: "/blabi-logo.webp",
  bg: "/projects/blabi.webp",
  logoWidth: 40,
  logoHeight: 40,
  stack: ["Astro", "JavaScript", "Tailwindcss"],
  description: `Blabi offers the possibility to create a website quickly and easily.`,
  lighthouse: {
    performance: 100,
    accessibility: 100,
    bestPracticies: 100,
    seo: 100,
  },
};
const hiringjr = {
  id: "hiringjr",
  github: "https://github.com/FranciscoDiazPaccot73/first-steps-it",
  link: "https://first-steps-it.vercel.app",
  text: "Hiring Jr",
  logoUrl: "/logo-hiring-jr.png",
  bg: "/projects/hiringjr.webp",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["NextJs", "NodeJs", "SASS", "Google Sheets"],
  description: `HiringJr it's a webpage for connect corporates placed in Entre Rios, Santa Fe or Cordoba with Junior or Trainee developers who are looking for their first job or change their current one.`,
};
const fifawc = {
  id: "fifawc",
  github: "https://github.com/FranciscoDiazPaccot73/world-cup-results",
  link: "https://fifawc.franciscodiazpaccot.dev/",
  text: "Fifawc",
  logoUrl: "/fifawc.png",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["Astro", "JavaScript", "Tailwindcss"],
  description: `Fifawc is a webpage to check the last Fifa World Cup results.`,
};
const letters = {
  id: "letters",
  github: "https://github.com/FranciscoDiazPaccot73/letters",
  link: "https://letters.franciscodiazpaccot.dev/",
  text: "Random Letters",
  logoUrl: "/letters.png",
  bg: "/projects/random-letters.webp",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["TypeScript", "Svelte", "JavaScript", "CSS"],
  description: `Randoms Letters select a random letter. It used for play "Tutti Frutti" game.`,
};
const filipa = {
  id: "filipa",
  github: "https://github.com/FranciscoDiazPaccot73/filipabazar",
  link: "https://www.filipabazar.com.ar/",
  text: "Filipa Bazar",
  logoUrl: "/filipa.jpg",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["NextJs", "NodeJs", "SASS", "TypeScript", "Google Sheets"],
  description: `FILIPA Bazar & Deco it's a webpage made for an Instagram business focused on sell gift and home articles. It has an entire catalog and it has Whatsapp checkout.`,
};
const lista = {
  id: "list",
  github: "https://github.com/FranciscoDiazPaccot73/mi-lista",
  link: "https://lista.franciscodiazpaccot.dev",
  text: "Mi Lista",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["NextJs", "JavaScript", "TypeScript", "SASS", "ChakraUI"],
  description: `Here you can save important links and make list of TODOs.`,
};
const ejcalierno = {
  id: "ejcalierno",
  link: "https://calierno-schumacher.com.ar/",
  text: "Estudio Jurídico Calierno & Schumacher",
  bg: "https://i.ibb.co/wMRgqYM/ejcalierno.webp",
  logoUrl: "https://i.ibb.co/F49T84b/logo.webp",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["Astro", "JavaScript", "Tailwindcss", "TypeScript"],
  description: `A landing page for a lawyer firm.`,
};
const iustaAdmin = {
  id: "iustaadmin",
  link: "https://iusta-admin.vercel.app",
  text: "Iusta Admin",
  logoUrl: "/iusta.jpg",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["NextJs", "NodeJs", "GraphQL", "SASS"],
  description: `The new admin panel to manage https://iusta.com.ar`,
};
const markdown = {
  id: "markdown",
  github: "https://github.com/FranciscoDiazPaccot73/markdown-generator",
  link: "https://markdown.franciscodiazpaccot.dev",
  text: "Markdown Generator",
  logoUrl: "/markdown.png",
  logoWidth: 80,
  logoHeight: 80,
  bg: "/projects/markdown.webp",
  stack: ["NextJs", "Javascript", "CSS"],
  description: `A simple markdown file generator. You could generate, preview and download your markdown file.`,
  lighthouse: {
    performance: 100,
    accessibility: 92,
    bestPracticies: 92,
    seo: 100,
  },
};
const marquez = {
  id: "elmarquez",
  link: "https://elmarquez.vercel.app/",
  text: "El Marquez",
  logoUrl: "/marquez.png",
  logoWidth: 80,
  logoHeight: 80,
  stack: ["Astro", "JavaScript", "Tailwindcss"],
  description: `A pizza store.`,
};
const dossiers = {
  id: "dossiers",
  link: "https://demo-cases.franciscodiazpaccot.dev/casos",
  text: "Dossiers",
  bg: "/projects/dossiers.webp",
  stack: ["NextJs", "JavaScript", "Sass", "Firebase"],
  description: `It's a website to administer and manage the dossiers of a lawyer firm.`,
  lighthouse: {
    performance: 100,
    accessibility: 100,
    bestPracticies: 100,
    seo: 100,
  },
};

const PORTFOLIO_ITEMS = [
  blabi,
  qpv,
  markdown,
  ejcalierno,
  dossiers,
  hiringjr,
  // letters,
  // lista,
  // fifawc,
  // marquez,
  // filipa,
  // iustaAdmin,
];
---

<PageLayout {meta} router="/portfolio">
  <section class="py-4 px-2 md:px-4 md:py-16">
    <div class="px-4 max-w-2xl mx-auto my-10 md:max-w-7xl">
      <div class="max-w-3xl">
        <p class="font-semibold text-gray-100 text-3xl mb-8 eurostile">
          My Portfolio
        </p>
        <p class="text-gray-400 mt-4">Some of my personal projects.</p>
      </div>
      <div
        class="pt-10 mt-10 flex flex-col gap-16 border-t border-orange-35 md:pt-16 md:mt-16 md:gap-32"
      >
        {
          PORTFOLIO_ITEMS?.map((item, index) => (
            <PortfolioItem {...item} isReverse={index % 2 !== 0} />
          ))
        }
      </div>
    </div>
    <Button href="https://github.com/FranciscoDiazPaccot73">
      GO TO MY <span class="mx-1"
        ><Github color="#16080e" height={20} width={20} />
      </span> PROFILE
    </Button>
  </section>
</PageLayout>

<style>
  @media (min-width: 768px) {
    .grid-portfolio {
      grid-template-columns: repeat(2, fit-content(100%));
    }
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const calculation =
      window.scrollY / (document.body.offsetHeight - window.innerHeight);
    document.body.style.setProperty("--scroll", calculation.toString()), false;
  });
</script>
