<section class="px-8 py-20 relative eurostile text-white">
  <div style={{ zIndex: '-1', height: "125%" }} class="absolute top-0 left-0 w-screen orange-background" />
  <p class="text-black font-semibold text-3xl mb-4">Hello, I'm Francisco</p>
  <p class="text-xl tracking-wide mb-6">Actually I am placed in Parana - Argentina. Connected with the web development industry for many years.</p>
  <p class="text-xl tracking-wide mb-6">Well-organised person, high attention to detail. Fan of NBA, photography, TV series, movies and video games.</p>
  <p class="text-xl tracking-wide mb-6">Interested in the entire frontend technologies. Focused on improve web performance</p>
</section>
