---
import Button from "../components/Button.astro";
import TimelineItem from './AboutTimelineSection.astro';
import ArrowUp from './icons/ArrowUp.astro';

const steps = [
  {
    job: `Sr. Software Engineer`,
    title: "Strike",
    duration: "May 2023",
    link: "https://strike.sh",
    logo: '/strike-logo.ico',
    tId: "strike",
    present: true,
  },
  {
    job: `Sr. Front-End Software Engineer`,
    title: "Mercado Libre",
    duration: "Dec 2019 to May 2023",
    link: "https://mercadolibre.com",
    logo: '/meli-logo.png',
    tId: "meli",
    description: [
      "Played a key role in the development of marketing tools for Mercado Shops from the ground up, contributing to the project's initial stages and ensuring a successful outcome.",
      `Designed and developed the frontend of the "Central de Promociones," a critical application that enables sellers on the Mercado Libre platform to create product offers and upload items in bulk to their promotions. This project involved working with large datasets and complex business logic to provide a seamless experience for users.`,
      `Contributed to the development of components in Andes, the company's internal UI library, improving the consistency and usability of the platform's interfaces.`,
      `Played a critical role in the formation of the Frontend Performance team, working on projects to optimize the performance of web applications and ensure they load quickly and efficiently.`,
      `Collaborated with the Benefits initiative enablings team to provide technical support and develop tools that automated the collection of performance metrics. These efforts allowed for quick identification and resolution of issues, resulting in improved frontend stability and overall user experience.`,
    ]
  },
  {
    job: `Ssr. Full-Stack developer`,
    title: "Serfe",
    duration: "Oct 2018 to Dec 2019",
    link: "https://serfe.com",
    logo: '/serfe-logo2.png',
    tId: "serfe",
    description: [
      `Conducted maintenance of a legacy mobile application built with PhoneGap and Angular 1.2, ensuring its continued usability and stability.`,
      `Led a team of 3 developers in building a new React Native mobile app, overseeing the project's entire lifecycle from conception to deployment.`,
      `Contributed to the development of the web platform for the application, utilizing React to create a modern and user-friendly interface.`,
      `Worked as a part of the backend development team for the application, utilizing Node.js to develop robust and scalable APIs and services that supported the frontend application.`,
    ]
  },
];
---

<section
  class="px-8 py-10 relative text-gray-100 md:mx-auto md:w-full md:max-w-6xl"
>
  <p class="font-semibold text-4xl mb-16 orange-text eurostile">Resume</p>
  <ol class="relative border-l border-orange-35">
    {steps.map(({tId, ...others}, index) => (
      <TimelineItem color={tId} {...others} order={(index + 1) % 2 ? 'left' : 'right'} />
    ))}
  </ol>
  <span class="relative flex h-4 w-4 -ml-2 mt-2">
    <span class="animate-ping absolute inline-flex h-full w-full rounded-full opacity-75 orange-background"></span>
    <span class="relative inline-flex rounded-full h-4 w-4 orange-background"></span>
  </span>
  <Button
    href="docs/FranciscoDiazPaccot-resume.pdf"
    download="Francisco Diaz Paccot - Resume"
  >
    Download Resume
  </Button>
</section>

<style>
  .steps:first-of-type .separator {
    display: none;
  }
  .separator {
    top: -46px;
  }
</style>
