<section class="px-8 py-6 relative eurostile text-white">
  <div class="mb-10 flex flex-col items-center p-6 rounded-xl border shadow-sm shadow-amber-600 orange-border black-background">
    <p class="text-2xl font-bold orange-text mb-5">My Main Skills</p>
    <div class="flex justify-around w-full flex-col">
      <div id='frontend' class="flex items-center flex-col mb-6">
        <p class="text-xl mb-1 orange-text">Frontend</p>
        <p class="text-sm text-white text-center">ReactJs, NextJs, JavaScript, Svelte, React Native, HTML, SASS, CSS, Tailwind, Webpack</p>
      </div>
      <div id='backend' class="flex items-center flex-col">
        <p class="text-xl mb-1 orange-text">Backend</p>
        <p class="text-sm text-white text-center">NodeJs, Express, Postgresql, GraphQl, MongoDB, MySQL</p>
      </div>
    </div>
  </div>
  <div class="absolute bottom-20 right-0 black-background">
  </div>
</section>

<style>
  .orange-border {
    border-color: var(--orange);
  }
  .orange-text {
    color: var(--orange)
  }
  .website {
    right: 0;
    bottom: 0;
  }
</style>
