---
import Copyright from "./icons/Copyright.astro";
import Github from "./icons/Github.astro";
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Twitter from "./icons/Twitter.astro";
---

<footer class="w-full p-6 pb-20 h-56 md:pb-10 md:h-48 relative orange-background bg-arrow">
  <div class="md:mx-auto md:w-full md:max-w-6xl">
    <a href="mailto:frandiazpaccot73@gmail.com" class="font-semibold underline underline-offset-2 text-lg black-text eurostile">Say Hello!</a>
    <div class='flex items-center flex-row justify-center my-4 container'>
      <a href='https://github.com/FranciscoDiazPaccot73' target="_blank" class="item" rel="noopener noreferrer" aria-label="Click to go to Github" >
        <Github color="#16080e" width={30} height={30} /><span class="hidden">Github</span>
      </a>
      <a href="https://www.instagram.com/frandiazpaccot/" target="_blank" class="item" rel="noopener noreferrer" aria-label="Click to go to Instagram" >
        <Instagram color="#16080e" width={30} height={30} /><span class="hidden">Instagram</span>
      </a>
      <a href="https://www.linkedin.com/in/francisco-diaz-paccot-a98a36130/" target="_blank" class="item" rel="noopener noreferrer" aria-label="Click to go to Linkedin" >
        <Linkedin color="#16080e" width={30} height={30} /><span class="hidden">Linkedin</span>
      </a>
      <a href="https://twitter.com/Pancho_xor" target="_blank" class="item" rel="noopener noreferrer" aria-label="Click to go to Twitter" >
        <Twitter color="#16080e" width={30} height={30} /><span class="hidden">Twitter</span>
      </a>
    </div>
    <div class='cursor-default w-full flex mt-8 text-xs justify-center black-text'>
      <>Made with <span class="hearth"> &#9829; </span> by</>
      <a class="cursor-pointer font-semibold ml-0.5 decoration-0 black-text" href="/about" aria-label="Click to go to Francisco's About page"> Francisco Diaz Paccot</a>
      <span class="flex ml-2 items-center"><Copyright color="#16080e" height={12} width={12} /><span class="ml-0.5">{`2018-${new Date().getFullYear()}`}</span></span>
    </div>
  </div>
</footer>

<style>
  .hearth {
    color: #960909;
    margin: 0 2px;
  }
  .container {
    height: 42px;
  }
  .item {
    cursor: pointer;
    font-size: 0;
    height: 32px;
    line-height: 0; 
    margin: 0 16px;
    padding: 5px 5px;
  }
  .item:hover {
    transform: var(--hover-scale-transform);
    transition: var(--hover-scale-transition);
  }
</style>
