---
import Copyright from "./icons/Copyright.astro";
import Github from "./icons/Github.astro";
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Medium from "./icons/Medium.astro";
import Twitter from "./icons/Twitter.astro";
---

<footer
  class="w-full pt-6 pb-56 h-56 md:pb-10 md:h-48 md:mt-24 relative orange-background"
>
  <div class="relative">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        ></path>
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(233,85,47,0.7)"
        ></use>
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(233,85,47,0.5)"
        ></use>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(233,85,47,0.3)"
        ></use>
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(233,85,47,1)"
        ></use>
      </g>
    </svg>
  </div>
  <div class="px-6 md:mx-auto md:w-full md:max-w-6xl">
    <div class="flex justify-between md:block">
      <a
        href="mailto:fran.diazpaccot@gmail.com"
        class="font-semibold underline underline-offset-2 text-lg black-text eurostile"
        >Say Hello!</a
      >
      <a
        href="/blog"
        class="font-semibold underline underline-offset-2 text-lg black-text eurostile md:hidden"
        >My Blog</a
      >
    </div>
    <div
      class="flex items-center flex-row justify-center my-4 mx-auto container"
    >
      <a
        href="https://github.com/FranciscoDiazPaccot73"
        target="_blank"
        class="item"
        rel="noopener noreferrer"
        aria-label="Click to go to Github"
      >
        <Github color="#16080e" width={30} height={30} /><span class="hidden"
          >Github</span
        >
      </a>
      <a
        href="https://www.instagram.com/frandiazpaccot/"
        target="_blank"
        class="item"
        rel="noopener noreferrer"
        aria-label="Click to go to Instagram"
      >
        <Instagram color="#16080e" width={30} height={30} /><span class="hidden"
          >Instagram</span
        >
      </a>
      <a
        href="https://www.linkedin.com/in/francisco-diaz-paccot-a98a36130/"
        target="_blank"
        class="item"
        rel="noopener noreferrer"
        aria-label="Click to go to Linkedin"
      >
        <Linkedin color="#16080e" width={30} height={30} /><span class="hidden"
          >Linkedin</span
        >
      </a>
      <a
        href="https://twitter.com/Pancho_xor"
        target="_blank"
        class="item"
        rel="noopener noreferrer"
        aria-label="Click to go to Twitter"
      >
        <Twitter color="#16080e" width={30} height={30} /><span class="hidden"
          >Twitter</span
        >
      </a>
      <a
        href="https://medium.com/@fran.diazpaccot"
        target="_blank"
        class="item"
        rel="noopener noreferrer"
        aria-label="Click to go to Medium"
      >
        <Medium color="#16080e" width={30} height={30} /><span class="hidden"
          >Medium</span
        >
      </a>
    </div>
    <div
      class="cursor-default w-full flex mt-8 text-xs justify-center black-text"
    >
      <>Made with <span class="hearth"> &#9829;</span> by</>
      <a
        class="cursor-pointer font-semibold ml-0.5 decoration-0 black-text"
        href="/about"
        aria-label="Click to go to Francisco's About page"
      >
        Francisco Diaz Paccot</a
      >
      <span class="flex ml-2 items-center"
        ><Copyright color="#16080e" height={12} width={12} /><span
          class="ml-0.5">{`2018-${new Date().getFullYear()}`}</span
        >
      </span>
    </div>
  </div>
</footer>

<style>
  .hearth {
    color: #960909;
    margin: 0 2px;
  }
  .container {
    height: 42px;
  }
  .item {
    cursor: pointer;
    font-size: 0;
    height: 32px;
    line-height: 0;
    margin: 0 16px;
    padding: 5px 5px;
  }
  .item:hover {
    transform: var(--hover-scale-transform);
    transition: var(--hover-scale-transition);
  }

  .waves {
    position: absolute;
    width: 100%;
    height: 12vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    top: -120px;
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  @media (max-width: 768px) {
    .waves {
      height: 60px;
      min-height: 60px;
      top: -82px;
    }
  }
</style>
