<style>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes scale-in {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease;
  }

  .animate-fade-out {
    animation: fade-out 0.3s ease;
  }

  .animate-scale-in {
    animation: scale-in 0.3s ease;
  }
</style>

<div>
  <slot />
</div>

<script>
  const setupImagePreviews = () => {
    const images = document.querySelectorAll(".preview-image");

    images.forEach((image) => {
      image.addEventListener("click", () => addFullscreenPreview(image));
    });
  };

  const addFullscreenPreview = (image: any) => {
    const overlay = document.createElement("div");
    overlay.className =
      "fixed inset-0 bg-black bg-opacity-80 flex justify-center items-center z-[1001] animate-fade-in";

    const img = document.createElement("img");
    img.src = image.src;
    img.alt = image.alt || "Image preview";
    img.className =
      "max-w-[90%] max-h-[90%] shadow-lg cursor-zoom-out scale-90 animate-scale-in";

    overlay.appendChild(img);

    const closeOverlay = () => {
      overlay.classList.add("animate-fade-out");
      setTimeout(() => document.body.removeChild(overlay), 300);
      document.removeEventListener("keydown", handleKeyDown);
    };

    const handleKeyDown = (e: { key: string }) => {
      if (e.key === "Escape") closeOverlay();
    };

    overlay.onclick = closeOverlay;
    document.addEventListener("keydown", handleKeyDown);

    document.body.appendChild(overlay);
  };

  setupImagePreviews();
</script>
