---
import { Image } from "astro:assets";
import Github from "./icons/Github.astro";

const { router } = Astro.props;
---

<header
  class="hidden md:block md:sticky top-0 z-40 flex-none mx-auto w-full backdrop-blur-sm black-background"
>
  <div class="py-3 mx-auto w-full flex justify-between max-w-6xl px-4">
    <div class="flex justify-between">
      <a
        class="flex items-center"
        href="/"
        aria-label="Click to return to Home"
      >
        <Image src="/logo-small.webp" width={40} height={40} alt="Logo" />
      </a>
    </div>
    <nav
      class="w-auto flex text-slate-200 h-auto"
      aria-label="Main navigation"
      id="menu"
    >
      <ul
        class="flex pt-0 flex-row self-center collapse w-auto collapsed text-base md:visible"
      >
        <li>
          <a
            aria-label="Click to go to Home page"
            class={`font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out ${
              router === "/" ? "active" : ""
            }`}
            href="/"
            >Home
          </a>
        </li>
        <li>
          <a
            aria-label="Click to go to About page"
            class={`font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out ${
              router.includes("/about") ? "active" : ""
            }`}
            href="/about"
            >About Me
          </a>
        </li>
        <li>
          <a
            aria-label="Click to go to Portfolio page"
            class={`font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out ${
              router.includes("/portfolio") ? "active" : ""
            }`}
            href="/portfolio"
            >Portfolio
          </a>
        </li>
        <li>
          <a
            aria-label="Click to send an email to Francisco"
            class={`font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out ${
              router.includes("/contact") ? "active" : ""
            }`}
            href="/contact"
            >Contact
          </a>
        </li>
        <li>
          <a
            aria-label="Click to go to Blog page"
            class={`font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out border-l border-l-orange border-opacity-30 ${
              router.includes("/blog") ? "active" : ""
            }`}
            href="/blog"
          >
            Blog
          </a>
        </li>
      </ul>
      <div class="self-center flex items-center mb-0 ml-2">
        <div class="items-center flex">
          <a
            href="https://github.com/FranciscoDiazPaccot73"
            class="inline-block text-gray-400 hover:bg-neutral-900 focus:outline-none focus:ring-4 focus:ring-neutral-900 rounded-lg text-sm p-2.5"
            aria-label="Click to go to Github"
          >
            <Github color="#e9552f" />
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>

<style>
  .active,
  .active:hover {
    color: var(--orange);
  }
</style>
