---
import ProjectHomeCard from './ProjectHomeCard.astro';
---

<section class="px-8 py-6 relative text-white flex items-center flex-col w-full md:mx-auto md:w-full md:max-w-6xl">
  <p class="my-8 text-2xl orange-text font-semibold eurostile">Recent Projects</p>
  <ul class="w-full md:w-auto md:grid md:gap-6 grid-space">
    <ProjectHomeCard
      webpage="https://www.quepuedover.online/"
      ariaWebpageLabel="Click to go to Que Puedo ver? webpage"
      imageProps={{src: '/qpv.webp', alt: "quepuedover.online"}}
      githubHref="https://github.com/FranciscoDiazPaccot73/que-mirar"
      githubAriaLabel="Click to go to Que puedo Ver? Github"
      siteHrefProps={{ href: "/portfolio#quepuedover", 'aria-label': "Click to go read more about Que Puedo Ver?" }}
      label="Que Puedo Ver?"
    />
    <ProjectHomeCard
      webpage="https://markdown.franciscodiazpaccot.dev/"
      ariaWebpageLabel="Click to go to Markdown generator webpage"
      imageProps={{src: '/markdown.png', alt: "markdown generator"}}
      githubHref="https://github.com/FranciscoDiazPaccot73/markdown-generator"
      githubAriaLabel="Click to go to Markdown Generator Github"
      siteHrefProps={{ href: "/portfolio#markdowngen", 'aria-label': "Click to go read more about Markdown Generator" }}
      label="Markdown Generator"
      square
    />
    <ProjectHomeCard
      webpage="https://letters.franciscodiazpaccot.dev/"
      ariaWebpageLabel="Click to go to Random Letters webpage"
      imageProps={{src: '/letters.png', alt: "random letters"}}
      githubHref="https://github.com/FranciscoDiazPaccot73/letters"
      githubAriaLabel="Click to go to Random Letters Github"
      siteHrefProps={{ href: "/portfolio#letters", 'aria-label': "Click to go read more about Random Letters" }}
      label="Random Letters"
      square
    />
  </ul>
  <a href="/portfolio" class="underline underline-offset-3 tracking-widest white-text" aria-label="Click to see all my projects">
    SEE ALL
  </a>
</section>

<style>
  @media(min-width: 768px) {
    .grid-space {
      grid-template-columns: repeat(2, fit-content(100%));
    }
  }
  @media(min-width: 1020px) {
    .grid-space {
      grid-template-columns: repeat(3, fit-content(100%));
    }
  }
</style>
