<section class="px-8 py-6 relative eurostile text-white flex items-center flex-col w-full">
  <p class="my-12 text-xl orange-text">Some of my developments</p>
  <div id='frontend' class="mb-10 flex items-center flex-col p-6 rounded-xl justify-center bg-neutral-900 border shadow-sm shadow-amber-600 orange-border">
    <p class="font-semibold text-2xl mb-4 orange-text">Frontend</p>
  </div>
  <div id='backend' class="flex items-center flex-col p-6 rounded-xl justify-center bg-neutral-900 border shadow-sm shadow-amber-600 orange-border">
    <p class="font-semibold text-2xl mb-4 orange-text">Backend</p>
  </div>
</section>

<style>
  .orange-border {
    border-color: var(--orange);
  }
  .orange-text {
    color: var(--orange)
  }
</style>
