---
import { Image } from '@astrojs/image/components';

import Github from './icons/Github.astro';
---

<section class="px-8 py-6 relative eurostile text-white flex items-center flex-col w-full">
  <p class="my-8 text-xl orange-text font-semibold">My Recent Work</p>
  <div class="w-full mb-10 flex items-center p-6 rounded-xl justify-center border orange-border black-background">
    <a href="https://www.quepuedover.online/" target="_blank">
      <Image width={90} height={60} format="webp" src='/qpv.webp' alt="quepuedover.online" />
    </a>
    <div class="ml-6 flex items-center flex-col w-36">
      <a class="text-sm underline underline-offset-2 ml font-semibold orange-text" href="https://www.quepuedover.online/" target="_blank">
        quepuedover.online
      </a>
      <div class="w-full mt-3 flex items-center flex-1 justify-around">
        <a target="_blank" href="https://github.com/FranciscoDiazPaccot73/que-mirar"><Github color='#e9552f' /></a>
        <a href="/portfolio#quepuedover" class="border text-xs py-1 px-2 rounded-xl orange-border orange-text">Read more</a>
      </div>
    </div>
  </div>
  <div class="w-full mb-10 flex items-center p-6 rounded-xl justify-center border orange-border black-background">
    <a href="https://first-steps-it.vercel.app/" target="_blank">
      <Image width={60} height={60} format="webp" src='/logo-hiring-jr.png' alt="hiringjr.com" />
    </a>
    <div class="ml-6 flex items-center flex-col w-36">
      <a class="text-sm underline underline-offset-2 ml font-semibold orange-text" href="https://first-steps-it.vercel.app/" target="_blank">
        hiringjr.com
      </a>
      <div class="w-full mt-3 flex items-center flex-1 justify-around">
        <a href="https://github.com/FranciscoDiazPaccot73/first-steps-it"><Github color='#e9552f' /></a>
        <a href="/portfolio#hiringjr" class="border text-xs py-1 px-2 rounded-xl orange-border orange-text">Read more</a>
      </div>
    </div>
  </div>
  <div class="w-full mb-10 flex items-center p-6 rounded-xl justify-center border orange-border black-background">
    <a href="https://letters.franciscodiazpaccot.dev/" target="_blank">
      <Image width={60} height={60} format="webp" src='/svelte.png' alt="hiringjr.com" />
    </a>
    <div class="ml-6 flex items-center flex-col w-36">
      <a class="text-sm underline underline-offset-2 ml font-semibold orange-text" href="https://astro-tailwind-themed-boilerplate.vercel.app" target="_blank">
        Random Letters
      </a>
      <div class="w-full mt-3 flex items-center flex-1 justify-around">
        <a href="https://github.com/FranciscoDiazPaccot73/letters"><Github color='#e9552f' /></a>
        <a href="/portfolio#letters" class="border text-xs py-1 px-2 rounded-xl orange-border orange-text">Read more</a>
      </div>
    </div>
  </div>
  <a href="/portfolio" class="underline underline-offset-3 orange-text">
    SEE ALL
  </a>
</section>
